#connect,
#repair,
#location,
#about,
#opinions,
#benefits {
  scroll-margin-top: 56px;
}

h1 {
  letter-spacing: 2px;
  word-spacing: 0.5rem;
}

p {
  color: $gray-800;
  font-size: 1.1rem;
}

q {
  font-size: 1.1rem;
}

.bg-custom {
  &-1 {
    background: rgb(69, 141, 247);
    background: linear-gradient(
      90deg,
      rgba(13, 110, 253, 1) 0%,
      rgba(69, 141, 247, 1) 100%
    );
  }
  &-2 {
    background: $gray-200;
  }
}

.shadow-custom {
  box-shadow: 0 0 20px -10px $gray-700;
}

.navbar {
  background-color: $gray-100;
  &-brand {
    padding: 0;
    &-text {
      padding-bottom: var(--bs-navbar-brand-padding-y);
      padding-top: var(--bs-navbar-brand-padding-y);
    }
  }
  &-toggler {
    border: none;
    &-icon {
      color: rgba(0, 0, 0, 0.5);
      transition: background-image 0.3s;
    }
    &:focus {
      box-shadow: none;
      outline: solid 0.15rem;
    }
  }
}

.navbar-toggler :not(.collapsed .navbar-toggler-icon) {
  background-image: url(../icons/x-lg.svg);
}

.nav {
  &-link {
    border-bottom: 2px solid $gray-100;
    color: $primary;
    padding: 0;
    &.dropdown-toggle {
      padding: 0.5rem 0;
    }
    &:hover {
      border-bottom-color: #0d6efd80;
      color: $gray-700;
    }
  }
  &-text {
    display: block;
    padding: 0.5rem 0;
  }
}

@include media-breakpoint-up(md) {
  .navbar-expand-md .navbar-nav .nav {
    &-link {
      padding: 0;
      &.dropdown-toggle {
        padding: 0.5rem;
      }
    }
    &-text {
      padding: 0.5rem;
    }
  }
}

.progress {
  height: 5px;
}

.dropdown {
  &-item {
    color: $primary;
    padding: 0;
    &:hover {
      color: $gray-700;
    }
  }
  &-text {
    display: block;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  }
}

.hero-image {
  max-height: 75vh;
  object-fit: cover;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.section {
  padding-top: 3rem;
  &__title {
    color: $blue;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 700;
    position: relative;
    text-align: center;
    &::after {
      background-color: #ffc107;
      bottom: -20px;
      content: "";
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 100px;
    }
  }
  &__main-icon {
    width: 50%;
  }
}

.card {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  &-img-top {
    background-color: #fff;
    border-radius: var(--bs-border-radius-xl);
    margin: 1rem auto 0;
    padding: 0.5rem;
    width: 35%;
  }
}

@include media-breakpoint-up(lg) {
  .card-img-top {
    width: 40%;
  }
}

.household-products {
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  text-align: center;
  & > p {
    color: #fff;
  }
}

.list-group-item {
  border: none;
  border-radius: var(--bs-list-group-border-radius);
  color: #fff;
  display: flex;
  margin: 6px 0;
  &::before {
    background-image: url(../icons/check-lg.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    content: "";
    height: 30px;
    flex-shrink: 0;
    margin-right: 20px;
    width: 30px;
  }
}

@include media-breakpoint-up(md) {
  .list-group-item {
    margin: 1rem 0;
  }
}

.list-group__cities {
  list-style: none;
  margin: 10px;
  position: relative;
  &::before {
    bottom: -2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 25px;
  }
  &:nth-child(odd) {
    color: $primary;
    &::before {
      background-color: #aaa;
    }
  }
  &:nth-child(even) {
    color: $gray-700;
    &::before {
      background-color: #ffc107;
    }
  }
}

.accordion {
  &-item {
    color: $gray-800;
    &:nth-of-type(1) .accordion-button::before {
      background-image: url(../icons/award-fill.svg);
    }
    &:nth-of-type(2) .accordion-button::before {
      background-image: url(../icons/currency-dollar.svg);
    }
    &:nth-of-type(3) .accordion-button::before {
      background-image: url(../icons/bar-chart-fill.svg);
    }
    &:nth-of-type(4) .accordion-button::before {
      background-image: url(../icons/car-front-fill.svg);
    }
    &:nth-of-type(5) .accordion-button::before {
      background-image: url(../icons/watch.svg);
    }
    &:nth-of-type(6) .accordion-button::before {
      background-image: url(../icons/cart-fill.svg);
    }
    &:nth-of-type(7) .accordion-button::before {
      background-image: url(../icons/shield-fill-check.svg);
    }
  }
  &-button {
    color: $gray-800;
    font-size: 1.25rem;
    &::before {
      background-repeat: no-repeat;
      background-size: 30px;
      content: "";
      flex-shrink: 0;
      height: 30px;
      margin-right: 20px;
      width: 30px;
    }
  }
  &-body {
    font-size: 1.1rem;
    text-align: left;
  }
}